@model HomeModel
@{
   ViewData["Title"] = "All Cars";
}
<div class="container">
<h2> Showing all cars</h2>

<div class="row">

    <table class="table">
        <thead>
            <tr>
                    <th>License Plate</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Description</th>
                    <th>Tire Count</th>
                    <th>CompanyId</th>
            </tr>
        </thead>
        <tbody>
                @foreach (Car car in Model.Cars)
                {
                    <tr>
                        <td>@car.LicensePlate</td>
                        <td>@car.Manufacturer</td>
                        <td>@car.ProductionModel</td>
                        <td>@car.Desc</td>
                        <td>@car.TireCount</td>
                        <td>@car.CompanyId</td>
                    </tr>
                }
        </tbody>
    </table>

</div>
</div>