@model HomeModel
@{
   ViewData["Title"] = "All Cars";
}
<div class="container">
<h2> Showing all cars</h2>

@*<div class="col-lg-6">
 <a class="btn btn-primary" asp-action="AddCar" value="Create New Car"> Create New Car </a>
</div>*@
    <div class="row-lg-6">
     
    <form>
            
            
        <div class="input-group">
                <h3>Search for specific car:</h3>
                <form>
                <input asp-for="SearchedCar" class="form-control" placeholder="Search for car.." type="text" />
                <input class="btn-default" type="submit"/>    
            </form>
            </div>

    </form>

</div>

<div class="row">

    <table class="table">
        <thead>
            <tr>
                    <th>License Plate</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Description</th>
                    <th>Tire Count</th>
                    <th>CompanyId</th>
                    <th>Actions</th>
            </tr>
        </thead>
        <tbody>
                @foreach (Car car in Model.Cars)
                {
                    <tr>
                        <td>@car.LicensePlate</td>
                        <td>@car.Manufacturer</td>
                        <td>@car.ProductionModel</td>
                        <td>@car.Desc</td>
                        <td>@car.TireCount</td>
                        <td>@car.CompanyId</td>
                        <td>
                            @Html.ActionLink("Edit","EditCar", new {
                                LicensePlate = car.LicensePlate,
                                Manufacturer = car.Manufacturer,
                                ProductionModel = car.ProductionModel,
                                Description = car.Desc,
                                TireCount = car.TireCount,
                                CompanyId = car.CompanyId
                            })
                       |
                            @Html.ActionLink("Remove", "RemoveCar", new { 
                                licensePlate = car.LicensePlate, companyId = car.CompanyId 
                            })
                        </td>
                    </tr>
                }
        </tbody>
    </table>
        <a class="btn btn-info" asp-controller="home" asp-action="Index"> Back </a>
</div>
</div>